<!DOCTYPE html>
<html>
  <head>
    <title>Socialliza</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <%= render Layout::Navbar::Component.new(user: current_user) %>
    <%= render Utils::Alert::Component.new(message: notice, type: 'success') if notice %>
    <%= render Utils::Alert::Component.new(message: alert, type: 'warning') if alert %>
    <main class="my-5">
      <%= yield %>
    </main>
  </body>
</html>
